@font-face {
  font-family: 'JungkaRegular';
  src: url('/fonts/Jungka-Regular.otf');
}

@font-face {
  font-family: 'JungkaMedium';
  src: url('/fonts/Jungka-Medium.otf');
}

@font-face {
  font-family: 'JungkaLight';
  src: url('/fonts/Jungka-Light.otf');
}

@font-face {
  font-family: 'JungkaBold';
  src: url('/fonts/Jungka-Bold.otf');
}

::placeholder {
  font-family: 'JungkaLight';
}

.button {
  color: #242730;
  font-family: 'JungkaRegular';

}

.button:hover {
  background-color: #242730;
}

.buttonheader {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  float: right;
  width: 100%;
  font-family: 'JungkaRegular';
}

#editor-buttonheader {
  padding-left: 15px;
}

.exportgroup {
  float: right;
  font-family: 'JungkaRegular';

}

.CVpreview {
  float: right;
  width: 50%;
  height: 80vh;
  max-height: auto;
  padding-left: 15px;
  overflow: auto;
}

/*CSS for the lines in between the containers*/

.lineContainer {
  width: 1px;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 20%;
}

 #lineContainer {
  width: 1px;
  height: 100vh;
  left: 25%;
  position: absolute;

}

.line {
  position: absolute;
  width:100%;
  height: 100vh;
  background: #d5d7de;
}

