@font-face {
  font-family: 'JungkaRegular';
  src: url('/fonts/Jungka-Regular.otf');
}

@font-face {
  font-family: 'JungkaMedium';
  src: url('/fonts/Jungka-Medium.otf');
}

@font-face {
  font-family: 'JungkaLight';
  src: url('/fonts/Jungka-Light.otf');
}

@font-face {
  font-family: 'JungkaBold';
  src: url('/fonts/Jungka-Bold.otf');
}

/*Changes the font of all the placeholders.
In example the font in the search field.*/
::placeholder {
  font-family: 'JungkaLight';
}

/*Changes the color, font and deletes the box
shadow of all buttons. Doesn't take the box shadow
away for search-icon button or myCVs-button.*/
.button {
  color: #242730;
  font-family: 'JungkaRegular';
  box-shadow: none;
}

/*Changes the hover color of each button*/
.button:hover {
  background-color: #242730;
  border-color: #242730;
  box-shadow: none;
}

/* The right color stays when the Export dropdown is opened */
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #242730;
  border-color: #242730;
  color: #FFFFFF;
  box-shadow: none;
}

/*Changes the outline color of the Export-dropdown*/
.dropdown-menu {
  border: 0.1vh solid #6c757d;
}
/*Affects the "search-header" in browse-view,
the "back,save and export-header" in editor-view
and the "exportbutton" holder in editor view*/
.buttonheader {
  float: left;
  padding-top: 15px;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  padding-bottom: 15px;
  width: 50%;
  font-family: 'JungkaRegular';
  height: 65px;
  box-shadow: none;
}

/* Delete popover in Browse view and close popover in Editor view */
.popover-buttongroup {
  margin-top: 1vh;
}

/*Container for the pdf preview*/
.CVpreview {
  float: right;
  width: 50%;
  height: 92vh;
  overflow: auto;
}

/*live preview of the CV*/
.preview {
  position: relative;
  top: 65px;
  width: 583px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 200px;
  padding-bottom: 40px;
}

#PDFpreview {
  float: right;
  width: 100%;
  height: 80vh;
}

.nav {
  float: right;
  height: 65px;
  width: 100%;
}

.nav-item {
  padding-top: 25px;
  font-size: 14px;
}

.nav > .buttonheader {
  width: auto;
}

/*Download as PDF button*/
.exportbutton {
  position: absolute;
  right: 5px;
}