@font-face {
font-family: 'Jungka';
src: url('/fonts/Jungka-Regular.otf') format('opentype');
}
@font-face {
font-family: 'Jungka-Bold';
src: url('/fonts/Jungka-Bold.otf') format('opentype');
 }
@font-face {
font-family: 'Jungka-Medium';
src: url('/fonts/Jungka-Medium.otf') format('opentype');
}
@font-face {
font-family: 'Jungka-Light';
src: url('/fonts/Jungka-Light.otf') format('opentype');
}

.cv_header {
  margin-left: 9%;
  margin-right: 9%;
  padding-top: 20px;
}

.reaktor {
  width: 120px;
}

header > .confidential{
  float:right;
  font-family: "Jungka-Light";
  font-size: 9px;
  right: 0;
}

#whole-cv {
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 40px;
}

.cv {
  font-family: "Jungka";
  min-height: 29px;
  border-top: 1px solid #DDD;
  margin-bottom: 20px;
  padding-top: 10px;
}

#first-section {
  min-height: 200px;
  border-top: none;
  padding-top: 0;
}

#last-section {
  margin-bottom: 0;
}

.face {
  float: left;
  width: 160px;
}

.cv > p {
  letter-spacing: 0.1px;
  font-size: 9px;
  color: rgb(109, 52, 52);
}

.cv > p > img {
  float: left;
  width: 100px;
  padding-left: 0px;
}

.cv > img[alt="face"] {
  width: 100px;
  float: left;
  position: relative;
  top: 00px;
  left: -150px;
}


.cv > h1,
.cv > h2,
.cv > h3,
.cv > h4,
.cv > h5,
.cv > h6,
.cv > p,
.cv > blockquote  {
    margin-left: 200px;
    font-family: "Jungka-Light";
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.cv > h1 {
  font-size: 11px;
  color: #FC6054;
  letter-spacing: 0.5px;
}
.cv > h2 {
  font-size: 11px;
  color: #666666;
}
.cv > h3 {
  font-size: 10px;
}
.cv > h4 {
  float: left;
  width: 180px;
  font-size: 15px;
  font-weight: 400;
  margin-left: 0;
  color: #FC6054;
  top: 30px;
}
.cv > h5 {
  font-size: 20px;
}

.cv > h6 {
  font-size: 18px;
}

.cv > p > code {
  letter-spacing: 0.1px;
  font-size: 11px;
  width: 390px;
  color: #666666;
  font-family: "Jungka-Light";
}

.cv > blockquote {
  padding: 0;
}

.cv > blockquote > p {
  letter-spacing: 0.1px;
  font-size: 9px;
  color: #666666;
  margin-bottom: 10px;
  font-family: "Jungka";
}

footer {
  margin: 0px auto;

  /*FIXME*/
  padding-left: 90px
}

ul#footer_list {
  font-family: "Jungka-Light";
  font-size: 9px;
  list-style: none;
}

ul#footer_list li {
  display: inline;
  padding-left: 8px;
}
