@font-face {
font-family: 'Jungka';
src: url('fonts/Jungka-Regular.otf') format('opentype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Jungka-Bold';
src: url('fonts/Jungka-Bold.otf') format('opentype');
font-weight: bold;
font-style: normal;
 }
@font-face {
font-family: 'Jungka-Medium';
src: url('fonts/Jungka-Medium.otf') format('opentype');
font-weight: medium;
font-style: normal;
}
@font-face {
font-family: 'Jungka-Light';
src: url('fonts/Jungka-Light.otf') format('opentype');
font-weight: lighter;
font-style: normal;
}


.preview {
  font-family: "Jungka";
  padding-left: 30px;
  margin-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 600px;
}

p > img {
  float: left;
  width: 100px;
  padding-left: 0px;
}

img < p {
  float: left;
  width: 560px;
  height: 0px;
}

img[alt="face"] {
  width: 100px;
  float: none;
  position: relative;
  top: 00px;
  left: -150px;

}


h1, h2, h3, h4, h5, h6 {
    width: 390px;
    padding-left: 200px;
    margin: 0;
    font-family: "Jungka-Light";
}

h1 {
  font-size: 11px;
  color: #FC6054;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
h2 {
  margin-top: 15px;
  font-size: 11px;
  color: #666666;
}
h3 {
  font-size: 10px;
  padding-bottom: 10px;
}
h4 {
  width: 560px;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 0px;
  color: #FC6054;
  position: relative;
  top: 40px;
  border-top: 1px solid #DDD;
  padding-top: 10px;
  padding-left: 20px;
}
h5 {
  margin-top: 80px;
  font-size: 20px;
}

h6 {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 10px;
}

p {
  letter-spacing: 0.1px;
  font-size: 9px;
  width: 390px;
  color: rgb(109, 52, 52);
  padding: 0px;
  padding-left: 200px;
  margin: 0;
  font-family: "Jungka-Light";
}

p > code {
  letter-spacing: 0.1px;
  font-size: 11px;
  width: 390px;
  color: #666666;
  font-family: "Jungka-Light";
}

blockquote {
  margin: 0;
  padding: 0;
}

blockquote > p {
  letter-spacing: 0.1px;
  font-size: 9px;
  width: 380px;
  float: right;
  color: #666666;
  padding: 0px;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Jungka";
}
