.centered-list {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25%;
  padding-right:25%;
}

.list-group-item-heading {
  font-family: 'JungkaBold';
}

.list-item {
  font-family: 'JungkaRegular';
}

.list-group-item {
  display:inline;
}

.cvinfo {
  float:left;
  width: 40%;
  padding-top: 10px;
}

.my-cvs-buttongroup {
  float: right;
  padding-top: 17px;
}


#rename {
  margin-right: 5px;
}

#create-cv-button {
  margin-top: 5px;
  margin-left: 25%
}
