.centered-list {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25%;
  padding-right:25%;
}

.list-group-item-text > h5 {
  font-family: 'JungkaBold';
}

.list-item {
  font-family: 'JungkaRegular';
}

.list-group-item > * {
  display: inline;
}

.my-cvs-buttongroup {
  float: right;
  vertical-align: center;
}

#create-cv-button {
  margin-top: 5px;
  margin-left: 25%
}