@font-face {
	font-family: 'JungkaBold';
	src: url('/fonts/Jungka-Bold.otf');
}

.header {
	padding-bottom: 2.8vh;
	padding-top: 2.8vh;
	padding-left: 2vh;
	border-bottom: 0.1vh solid #242730;
	font-family: 'JungkaBold';
	color: #FC6054;
	font-size: 3vh;
	height: 10vh;
}
