.search {
	float: left;
	width: 60%;
	min-width: 10%;
	box-shadow: none;
}

.searchAndMyCVs {
	display:inline-block;
	width: 35%;
	min-width: 10%;
}

.searchAndMyCVs > input {
	display:inline-block;
	min-width: 5%;
}

#searchbutton {
	float: left;
	min-width: 10px;
	box-shadow: none;
	margin-right: 13px;
}

#myCVsButton {
	float: left;
	color: #242730;
	box-shadow: none;
}

#myCVsButton.active, #myCVsButton:hover  {
	background-color: #242730;
	color: #FFFFFF;
	border-color: #242730;
}

.rename-button {
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin-left: 0.5em;
	font-size: x-small;
}

.search.form-control {
	box-shadow: none;
	color: #242730;
	border-color: #868e95;
}

.searchheader {
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  float: right;
  width: 100%;
  font-family: 'JungkaRegular';
  display: inline-block;
  height: 10vh;
}

.popover-body > .form-control {
	margin-bottom: 0.5em;
}

.browse-section {
	float: left;
	display: inline;
	width: 25%;
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	font-family: 'JungkaRegular';
	overflow: auto;
	height: 80vh;
}

.list-group-item {
    padding-left: 1rem;
    color: #242730;
}

.list-group-item.active {
	background-color: #d5d7de;
	border-color: #d5d7de;
	color: #000000;
}

html, body {
  overflow: hidden;
}
