/*Sets the width for searchfield and homebutton*/
.searchfield-and-button {
	float:left;
	display: inline;
	width: 24.75%;
	min-width: 180px;
}

/*Searchfield and clear-button in browse-view*/
.searchfield {
	float: left;
	padding-left: 0.2em;
	width: calc(100% - 41px);
	box-shadow: none;
	color: #242730;
}

/*Search-field without button*/
.form-control {
	box-shadow: none;
	border: 1px solid rgb(108, 117, 125);
}

.form-control:focus {
	border: 1px solid rgb(108, 117, 125);
	border-right: none;
	box-shadow: none;
}

/*Home-button before searchfield*/
#homebutton {
	float: left;
	width: 40.86px;
	min-width: 40.86px;
	box-shadow: none;
}

/*clear-button after searchfield*/
#clearbutton {
	box-shadow: none;
	background-color: white;
	border-color: rgb(108, 117, 125);
	border-left-width: 0;
	color: black;
}

#clearbutton:hover {
	color: #AAA;
}

/*Rename-button next to CVs name*/
.rename-button {
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin-left: 0.5rem;
	margin-bottom: 0.3rem;
	font-size: x-small;
}

.last-modified-datetime {
  overflow: hidden;
  white-space: nowrap;
}

.language-flag {
  margin-left: 0.8em;
  margin-right: 0.8em;
  background-color: #616982;
}

/*Sections where people and their
CVs are listed*/
.browse-section {
	float: left;
	display: inline;
	width: 25%;
	min-width: 180px;
	padding-left: 0.5vw;
	font-family: 'JungkaRegular';
	overflow: auto;
	height: 80vh;
}

/*People and their CVs in the lists*/
.list-group-item {
    padding-left: 1vw;
    color: #242730;
}

/*People and their CVs in the lists, when active*/
.list-group-item.active {
	background-color: #d5d7de;
	border-color: #d5d7de;
	color: #000000;
}

.tooltip > .tooltip-inner {
  background-color: #616982;
  color: #fff;
}

.tooltip-top > .arrow::before {
	border-top-color: #616982;
}

.tooltip-right > .arrow::before {
	border-right-color: #616982;
}

/*Stops the scrolling for the whole page*/
html, body {
  overflow: hidden;
}
