.language-dropdown {
  margin-left: 0.8em;
}

.sections {
  float: left;
  width: 50%;
  height: 80vh;
  overflow: auto;
}

.statusMessage {
  display: inline;
	padding-left: 1vw;
	padding-top: 1vh;
}

.editor-buttonheader {
  padding-left: 0.8vw;
}

textarea{
  width: 100%;
  resize: none;
}

html, body {
  overflow: hidden;
}

.template-toggle {
  float: right;
}
