.sections {
  float: left;
  width: 50%;
  height: 80vh;
  overflow: auto;
}

.statusMessage {
	float: right;
	padding-right: 1vw;
	padding-top: 1vh;
}

.editor-buttonheader {
  padding-left: 0.8vw;
}

html, body {
  overflow: hidden;
}
