@font-face {
	font-family: 'JungkaRegular';
	src: url('/fonts/Jungka-Regular.otf');
}

@font-face {
	font-family: 'JungkaMedium';
	src: url('/fonts/Jungka-Medium.otf');
}

@font-face {
	font-family: 'JungkaLight';
	src: url('/fonts/Jungka-Light.otf');
}

@font-face {
	font-family: 'JungkaBold';
	src: url('/fonts/Jungka-Bold.otf');
}

#buttons {
  float: right;
  width: 100%;
  right: 10px;
}

::placeholder {
	font-family: 'JungkaLight';
}

#buttongroup {
	float: right;
	font-family: 'JungkaBold';
}

.buttonClass {
	color: #242730;
	font-family: 'JungkaRegular';
}

.buttonClass:hover {
	background-color: #242730;
}

#CVpreview {
	float: right;
	width: 50%;
	max-height: auto;
}

#textfields {
  float:left;
  width: 50%;
  height: auto;
}
